/*Color Palette:
    #1F4690 -> Blue
    #3A5BA0 -> Lighter Blue;
    #FFA500 -> Gold
*/

.titlebar{

    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    
    background-color: #FFA500;
    padding: 10px;
    border-radius: 10px;

    /* border-color: #FFA500;
    border-style: solid;
    border-width: 10px;
    --height:5px; */
    

}

#title{

    background-color:#FFFFFF;
    grid-row:1;
    grid-column: 2/3;

    color: #1F4690;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    

    position:absolute;

    padding-left:30%;
    padding-right:30%;

    border-radius:10px;

    text-align: center;
}



.quote{
    padding-left:10%;
    padding-right:10%;
    color: #1F4690;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    position:relative;
    top: 5%;
}

body{
    background-color: #FFFFFF;
}

.button-solid{

    grid-row: 1;
    grid-column:1;

    /* position: relative;
    padding-left:5%;
    padding-top:2.5%; */
    z-index:2px;

    border: none;
    background-color: #1F4690;
    padding: 10px;
    font-size: 20px;
    color: #FFFFFF;
    
}

.button-solid:hover{
    background-color:#3A5BA0;
}

#media{
    color: #1F4690;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    padding-left:80%;

    position: relative;     
    top: -55px;

}




/* Everything below this line is for creating a new account and login to current account*/
.input{
    font-size:100%;

    align-self: center;
    width:25%;
    padding-top:20%;
    float:right;
    padding-right:20%;
}

.textbox{
    font-size:20px;
    width:500px;
    padding-top: 10px;
}

#rules{
    color: #1F4690;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    float:left;

    padding-top:20%;
    padding-left:5%;
    
}



