<html>
    <title>Create your Accont:  Independence Assassains Game</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/redo.css') }}">
    <body>
        <div class = "titlebar" style ="--h: 70vh">
            <div class = "title text">
                <p>Indy Class of 2023 Senior Assassains Game!</p>
            </div>
            <div class = "title quote">
                <p>{{quote|safe}}</p>
            </div>
        </div>
        
        <div> <!Personal Information Form>
            <form method = "POST" class = "input" style = "font-size:20px; font-family:Impact; color: #1F4690;">
                <label>
                        First Name
                    <input type = "text" name = "firstName" class = "textbox" placeholder = "Enter your first name here">
                    <br></br>
                </label>

                <label>
                        Last Name
                    <input type = "text" name = "lastName" class = "textbox" placeholder = "Enter your last name here">
                    <br></br>
                </label>

                <label>
                        Phone Number
                    <input type = "text" name = "number" class = "textbox" placeholder = "Enter your phone number here">
                    <br></br>
                </label>

                <label>
                        Password
                    <input type = "password" name = "password" class = "textbox" placeholder = "Enter password here">
                    <br></br>
                </label>

                <label>
                        Confirm Password
                    <input type = "password" name = "confirmPassword" class = "textbox" placeholder = "Confirm password here">
                    <br></br>    
                </label>
                <p>By clicking the button below, you are agreeing with the rules of the game (See rules to left)</p>
                <button type = "submit" name = "create" class = "button-solid" value = "enter">Create an account!</button>
            </form>
        </div>
        <div class = "title rules"> 
            <p>{{ruleList|safe}}</p>        <! Using '|safe' formats the variable 'ruleList' which uses break elements to format the list to be visible>
        </div>
    </body>
</html>